# ignore everything
*
# except sub-directories
!*/
!executables/mfcl/2.2.7.0/mfclo64
!executables/stock-synthesis/3.30.23.1/ss3_linux
!executables/stock-synthesis/3.30.23.1/ss3_win.exe
!executables/stock-synthesis/3.30.22.1/ss3_linux
!executables/stock-synthesis/3.30.22.1/ss3_win.exe
# and certain files/file types
# mfcl
!*.frq
!*.ini
!mfcl.cfg
!doitall.mls
!models/mfcl/1979_20p3/plot-06.par.rep
!models/mfcl/1979_20p3/06.par
!models/mfcl/1979_20p3/length.fit
!models/mfcl/1979_20p3/weight.fit
!models/mfcl/2019-diagnostic/plot-08.par.rep
!models/mfcl/2019-diagnostic/08.par
!models/mfcl/2019-diagnostic/length.fit
!models/mfcl/2019-diagnostic/weight.fit
!doitall.condor
# r files
!*.r
!*.R
!.Rprofile
# git files
!.gitignore
!DISCLAIMER.md
!./LICENSE
# renv files
!renv.lock
!settings.json
!.renvignore
# markdown
!README.md 
!*.qmd
# stock synthesis
!control.ss 
!data.ss 
!forecast.ss
!starter.ss
!control.ss_new
!data_echo.ss_new
!forecast.ss_new
!starter.ss_new
!ss3.par
!warning.sso
!Report.sso
# devcontainer
!devcontainer.json
# csv files
!*.csv
!*.txt
!introduction_index.md
!*.qmd
!*.cls
!*.tex
!*.pdf
!assets/customizations/*
!assets/static/*
!*.bib
!*.csl
!*.lua
!assets/noaa-spc-model-meeting*
